extends ../layouts/default
include ../mixins/comments
include ../mixins/socials

block content
    .container
        if(article)
            h1=article.title

            +shareblock

            div
                img(src=article.image.url height=300 width=300)

            h2=article.summary
            p !{article.body}

            hr

            p
                if(article.topic.length > 0)
                    |Topics:
                    each topic in article.topic
                        |#{" "+topic.name}
                    |&nbsp;&nbsp;&nbsp;&nbsp;

                if(article.skill.length > 0)
                    |Skills:
                    each skill in article.skill
                        |#{" "+skill.name}
                    |&nbsp;&nbsp;&nbsp;&nbsp;

                if(article.age.length > 0)
                    |Age: #{article.ageGroup}
                    |&nbsp;&nbsp;&nbsp;&nbsp;

            +comment-block(data.comments)
 
        else
            h2 Sorry, that article doesn't exist
 
