extends ../layouts/default
include ../mixins/gallery
include ../mixins/comments
include ../mixins/socials

block content
    .container
        - 
            var printable = data.printable;
            var gallery = data.gallery;

        if(printable)
            h1=printable.title

            +shareblock

            if(gallery.length > 0)
                +carousel(gallery)
            else
                if(data.video)
                    +media(printable.video)
                if(data.pdf)
                    +media(printable.PDF)

            h2=printable.summary
            p !{printable.body}

            hr

            p
                if(printable.topic.length > 0)
                    |Topics:
                    each topic in printable.topic
                        |#{" "+topic.name}
                    |&nbsp;&nbsp;&nbsp;&nbsp;

                if(printable.skill.length > 0)
                    |Skills:
                    each skill in printable.skill
                        |#{" "+skill.name}
                    |&nbsp;&nbsp;&nbsp;&nbsp;

                if(printable.age.length > 0)
                    |Age: #{printable.ageGroup}
                    |&nbsp;&nbsp;&nbsp;&nbsp;
 
            +comment-block(data.comments)

        else
            h2 Sorry, that printable doesn't exist
 
